*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
   background-image: url("https://www.ualberta.ca/arts/media-library/news/archived-images/2020/rock-paper-scissors-story.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    background-color: rgb(59, 21, 21);
    color: white;
    /* text-align: center; */
    height: 5rem;
    line-height: 5rem;
}
.choises{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(27, 27, 28);
}
.choice img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
   
}
.names{
    position: absolute;
    width:100px;
    height: 40px;
    padding: 10px 10px;
    /* border: 1px solid red; */
    top: 45%;
    left: 34%;
    background-color: yellow;
    border-radius: 10px;

    font-weight: bold;
}
.namePaper{
    position: absolute;
    width:100px;
    height: 40px;
    padding: 10px 10px;
    /* border: 1px solid red; */
    font-weight: bold;
    top: 45%;
    left: 47%;
    background-color: rgb(144, 21, 150);
    border-radius: 10px;
}
.nameScissors{
    position: absolute;
    width:100px;
    height: 40px;
    padding: 10px 10px;
    /* border: 1px solid red; */
    font-weight: bold;
    top: 45%;
    left: 60%;
    background-color: rgb(11, 102, 230);
    border-radius: 10px;
}
.score_board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 5rem;
    margin: 5rem;
    margin-top: 10rem;
    font-weight: bold;
    color: brown;
}

#user_score, #computer_score{
    font-size: 4rem;
}
#msg{
    background-color: rgb(68, 68, 67);
    color: white;
    line-height: 2rem;
    font-size: 2rem;
    display: inline;
    padding: 2rem;
    border-radius: 1rem;
}
#restart{
    width: 120px;
    height: 50px;
    margin-top: 3rem;
    font-size: 2rem;
    border-radius: 10px;
background: linear-gradient(red, yellow);
border: 0;
outline: 0;
cursor: pointer;

}
#restart:hover{
    transform: translateY(1.5);
    
}
@keyframes congratulationEffect {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.congratulation-animation {
    animation: congratulationEffect 1s ease forwards;
}

